<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true"
    data-mdb-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="shareModalLabel">Share Post</h5>
                <button type="button" class="btn-close" data-mdb-modal-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-around mb-4">
                    <button class="btn btn-floating btn-primary" data-mdb-ripple-init>
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button class="btn btn-floating btn-info" data-mdb-ripple-init>
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="btn btn-floating btn-success" data-mdb-ripple-init>
                        <i class="fab fa-whatsapp"></i>
                    </button>
                    <button class="btn btn-floating btn-primary" data-mdb-ripple-init>
                        <i class="fab fa-telegram"></i>
                    </button>
                </div>
                <div class="form-outline">
                    <input type="text" id="shareLink" class="form-control" readonly>
                    <label class="form-label" for="shareLink">Share Link</label>
                </div>
                <button class="btn btn-light w-100 mt-3" id="copyShareLink" data-mdb-ripple-init>
                    <i class="far fa-copy me-2"></i>Copy Link
                </button>
            </div>
        </div>
    </div>
</div>