<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Base Polls</h1>
    <a href="{% url 'add_polls' %}"> Create Polls</a>
    <a href="{% url 'user_dashboard' %}">Dashboard</a>

    <ul>
        {% for poll in polls %}
            <li>
                <a href="{% url 'vote_poll' poll.id %}">{{ poll.title }}</a>
                <p>{{ poll.description }}</p>
                <p>Type: {{ poll.get_poll_type_display }}</p>
                <p>{% if poll.is_active %}Active{% else %}Expired{% endif %}</p>
            </li>
        {% empty %}
            <li>No polls available.</li>
        {% endfor %}
    </ul>
    
</body>
</html>