<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Base</h1>
<a href="{% url 'add_poll' %}">Add Poll</a>
    <ul>
        {% for poll in polls %}
            <li>
                <a>{{ poll.title }}</a>
                <p>{{ poll.description }}</p>
    
                <ul>
                    {% for option in poll.options.all %}
                        <li>{{ option.option_text }}</li>
                    {% empty %}
                        <li>No options available for this poll.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No polls available.</li>
        {% endfor %}
    </ul>
    
</body>
</html>