# Python cache files
__pycache__/
*.py[cod]
**/__pycache__/   # Ignore all __pycache__ folders in any subdirectory
*.pyo

# Virtual environment
venv/
env/
*.venv/

# Django-specific
db.sqlite3          # SQLite database file
*.sqlite3           # Ignore any SQLite database files
*/migrations/*.py   # Ignore all migration files, but keep the migrations folders
!*/migrations/__init__.py   # Allow __init__.py in migrations to remain tracked

# Media and Static files
media/              # Uploaded media files
staticfiles/        # Django static files directory
static/             # Static files collected
*.log               # Log files
media/qr_codes

# Environment variables
*.env               # Environment variable files (like settings)
**/.env             # All .env files, including those in subdirectories

# IDE specific
.vscode/            # VSCode settings
.idea/              # PyCharm/IntelliJ settings

# Temporary files
*.bak               # Backup files
*.swp               # vi/vim swap files
*.swo
.DS_Store           # macOS file
Thumbs.db           # Windows file
db.sqlite3