{% extends 'base.html' %}
{% block title %}About - Campus Interaction{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-4">About Campus Interaction</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">
                        Campus Interaction is dedicated to creating a vibrant digital community that enhances the college experience 
                        by connecting students, facilitating collaboration, and promoting engagement in campus life.
                    </p>
                    
                    <h5 class="card-title mt-4">What We Offer</h5>
                    <ul class="list-group list-group-light">
                        <li class="list-group-item">Student Profiles and Networking</li>
                        <li class="list-group-item">Academic Collaboration Tools</li>
                        <li class="list-group-item">Campus Event Updates</li>
                        <li class="list-group-item">Resource Sharing Platform</li>
                    </ul>
                    
                    <h5 class="card-title mt-4">Contact Us</h5>
                    <p class="card-text">
                        Have questions or suggestions? Reach out to us at:
                        <br>
                        Email: support@campusinteraction.com
                        <br>
                        Location: Student Center, Room 101
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}