{% extends "base.html" %}

{% block content %}

    <!-- <div class="banner" id="promoBanner">
        <span>✨ Special Offer: 20% Off on All Items! ✨</span>
    </div> -->

    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" aria-label="Second navbar example">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">MarketPlace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <form id="navbar-search-form" method="get" action="{% url 'marketplace:item_list' %}" class="custom-search-form">
                    <input class="form-control custom-search-input" type="input" name="q" placeholder="Search items..." aria-label="Search" value="{{ query|default:'' }}">
                    <button class="btn custom-search-btn" type="submit">Search</button>
                </form>
                
                <button id="search-icon" class="btn btn-outline-light d-lg-none">
                    <i class="fas fa-search"></i> 
                </button>
            </div>
        </div>
    </nav> -->

    <main>
        <h3>Filter by Category</h3>
        <form method="get" action="{% url 'marketplace:item_list' %}">
            <select name="category" onchange="this.form.submit()">
                <option value="all">All Items</option> 
                {% for category in categories %}
                    <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </form>

        {% if selected_category == 'all' %}
        <h3>Your Search History</h3>
        <ul>
            {% for search, item in search_items %}
                {% if item %}
                    <li>
                        <a href="{% url 'marketplace:item_detail' item.id %}?q={{ search.query|urlencode }}">{{ search.query }}</a>
                    </li>
                {% else %}
                    <li>{{ search.query }} (No matching item)</li>
                {% endif %}
            {% empty %}
                <li>No search history found.</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>Deals and Offers</h1>

        <ul>
            {% for item in deal_items %}
                <li>
                    <a href="{% url 'marketplace:item_detail' item.id %}">{{ item.title }}</a> 
                    {% if item.is_deal %}
                        <span style="text-decoration: line-through;">${{ item.original_price }}</span>
                        <strong>Now: ${{ item.price }}</strong>
                        <span>({{ item.discount_percentage }}% Off!)</span>
                    {% else %}
                        ${{ item.price }}
                    {% endif %}
                </li>
            {% empty %}
                <li>No deals available at the moment.</li>
            {% endfor %}
        </ul>

        {% if selected_category == 'all' %}
            {% for category, items in categorized_items.items %}
                <h4>{{ category }}</h4>
                <ul>
                    {% if items %}
                        {% for item in items %}
                            <li>
                                <a href="{% url 'marketplace:item_detail' item.id %}">{{ item.title }}</a>
                                {% if item.sold %}
                                    <span>(Sold)</span>
                                {% endif %}
                                - {% if item.original_price and item.price != item.original_price %}
                                    <span style="text-decoration: line-through;">${{ item.original_price }}</span> 
                                    - ${{ item.price }}
                                {% else %}
                                    ${{ item.price }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No items found in this category.</li>
                    {% endif %}
                </ul>
            {% endfor %}
        {% else %}
            {% for category, items in categorized_items.items %}
                {% if category == selected_category %}
                    <h4>{{ category }}</h4>
                    <ul>
                        {% if items %}
                            {% for item in items %}
                                <li>
                                    <a href="{% url 'item_detail' item.id %}">{{ item.title }}</a>
                                    {% if item.sold %}
                                        <span>(Sold)</span>
                                    {% endif %}
                                    - {% if item.original_price and item.price != item.original_price %}
                                        <span style="text-decoration: line-through;">${{ item.original_price }}</span> 
                                        - ${{ item.price }}
                                    {% else %}
                                        ${{ item.price }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>No items found in this category.</li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}

        <a href="{% url 'marketplace:add_item' %}" class="btn btn-primary mt-3">Add New Item</a>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var searchIcon = document.getElementById('search-icon');
            var searchForm = document.getElementById('navbar-search-form');
            var navLinks = document.querySelector('ul.navbar-nav');

            // Handle search icon click on small screens
            searchIcon.addEventListener('click', function() {
                // Toggle the visibility of the form and nav links
                searchForm.classList.toggle('active');
                navLinks.classList.toggle('hidden');

                // Change the icon from search to close (X)
                if (searchForm.classList.contains('active')) {
                    searchIcon.innerHTML = '<i class="fas fa-times"></i>'; // Close icon
                } else {
                    searchIcon.innerHTML = '<i class="fas fa-search"></i>'; // Search icon
                }
            });

            // Handle window resize to make sure the search form behaves correctly
            window.addEventListener('resize', function() {
                if (window.innerWidth >= 552) {
                    // Ensure search form is visible on large screens
                    searchForm.classList.remove('active');
                    searchForm.style.display = 'flex';
                    navLinks.classList.remove('hidden');
                    searchIcon.innerHTML = '<i class="fas fa-search"></i>';
                } else {
                    // Reset state on small screens
                    searchForm.style.display = searchForm.classList.contains('active') ? 'flex' : 'none';
                }
            });
        });

        // Function to hide the banner on scroll
        window.addEventListener('scroll', () => {
            const banner = document.getElementById('promoBanner');
            const navbar = document.querySelector('.navbar');

            // Check if the scroll position is greater than or equal to 100vh
            if (window.scrollY >= window.innerHeight) {
                banner.classList.add('hidden'); // Add the hidden class to move it out of view
                navbar.style.top = '0'; // Move the navbar to the top
            } else {
                banner.classList.remove('hidden'); // Remove the hidden class to show the banner
                navbar.style.top = '60px'; 
            }
        });
    </script>
{% endblock %}
