/* styles.css */
    

/* Set a bright blue background for the entire body */
body {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    padding: 10px;
    background-color: #00BFFF;
    color: hsl(4, 84%, 49%); 
    overflow: hidden; 

/* Style the heading */
#header {
    position: absolute; 
    white-space: nowrap; 
    font-size: 3rem; 
    align-content: center;
    color: blue;  
}


/* Style for the map container */
#map-container {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}
