{% extends "base.html" %}
{% block title %}Resources{% endblock %}

{% load static %}



{% block content %}

<div class="row gy-4 resources-row ">

    <div class="col-lg-6 resources-section shadow-lg" data-aos="fade-up" data-aos-delay="200">
      <div class="resouces-data">
        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
        <h3>Sara Wilsson</h3>
        <h4>Wood custom pieces</h4>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          <span>They brought our vision to life with stunning, unique pieces that add warmth and style to our home. We're thrilled with the results—each piece fits perfectly and elevates the entire room.</span>
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
    </div><!-- End testimonial item -->

{% endblock  %}