{% extends "base.html" %}
{% block title %}Resources{% endblock %}

{% load static %}



{% block content %}

<main>
<section id="portfolio" class="portfolio section">

  <div class="container">

    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

      <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-home" class="filter-home">Home</li>
        <li data-filter=".filter-office" class="filter-office">Office</li>
        <li data-filter=".filter-outdoor" class="filter-outdoor">Outdoor</li>
        <li data-filter=".filter-decor" class="filter-decor">Decor</li>
        <li data-filter=".filter-cabinetry" class="filter-cabinetry">Cabinetry</li>
      
      </ul><!-- End Portfolio Filters -->

      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
          <img src="" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Home 2</h4>
            <p>Lorem ipsum, dolor sit</p>
            <a href="" title="Home 2" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->


        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-home">
          <img src="" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Home 2</h4>
            <p>Lorem ipsum, dolor sit</p>
            <a href="" title="Home 2" data-gallery="portfolio-gallery-home" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->


      </div>
    </div>
  </div>
</section>





        <div class="row gy-4   resources-row ">
          <div class="col-lg-5 resources-section  shadow-lg" data-aos="fade-up" data-aos-delay="200">
            <div class="resouces-data">
              <h3 class="text-center">Julian August</h3>
              <h4>BBIT</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>If you combine some features into multipurpose pages, you might end up with fewer pages. This setup ensures the project is organized and scalable.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          
          
          <div class="col-lg-5 resources-section shadow-lg" data-aos="fade-up" data-aos-delay="200">
            <div class="resouces-data">
              <h3 class="text-center">Julian August</h3>
              <h4>BBIT</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>If you combine some features into multipurpose pages, you might end up with fewer pages. This setup ensures the project is organized and scalable.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          
          <div class="col-lg-5 resources-section shadow-lg" data-aos="fade-up" data-aos-delay="200">
            <div class="resouces-data">
              <h3 class="text-center">Julian August</h3>
              <h4>BBIT</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>If you combine some features into multipurpose pages, you might end up with fewer pages. This setup ensures the project is organized and scalable.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          
          
          <div class="col-lg-5 resources-section shadow-lg" data-aos="fade-up" data-aos-delay="200">
            <div class="resouces-data">
              <h3 class="text-center">Julian August</h3>
              <h4>BBIT</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>If you combine some features into multipurpose pages, you might end up with fewer pages. This setup ensures the project is organized and scalable.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </main>


{% endblock  %}