:root{
    --secondary-color:#ffffff;
    --primary-color:#51D6FF;
}

.resources-row{
    background-color: var(--secondary-color);
    margin-top: 10px;
}
.resources-section{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-top: 15px solid var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 4px;
    border-radius: 0px  0px 8px 8px;
}
.resources-link{
    text-decoration: none;
    transition: transform 0.3s ease;
}
.resources-link:hover{
    transform: scale(1.2);
}
.resources-button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
display: block;
margin: 0 auto;
}

