:root{
    --secondary-color:#ffffff;
    --primary-color:#51D6FF;
}

.resources-row{
    background-color: var(--secondary-color);
    margin-top: 10px;
}
.resources-section{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-top: 15px solid var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 4px;
    border-radius: 0px  0px 8px 8px;
}



